<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<body>
<section class="section">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-lg-12">
        <div class="candidate-list-widgets mb-4">
          <form  >
            <div class="g-2 row">
              <div class="col-lg-3">
                <div class="filler-job-form">
                  <i class="uil uil-briefcase-alt"></i><input id="exampleFormControlInput1" placeholder="Job, Company name... " type="search" class="form-control filler-job-input-box form-control" />
                </div>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="align-items-center row">
          <div class="col-lg-8">
            <div class="mb-3 mb-lg-0 text-white"><h6 class="fs-16 mb-0 fw-bold">Showing {{this.lenght}} exercises</h6></div>
          </div>
          <div class="col-lg-4">
            <div class="candidate-list-widgets">
              <div class="row">
                <div class="col-lg-6">



                </div>
                <div class="col-lg-6">
                  <div class="selection-widget mt-2 mt-lg-0">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>



        <div [formGroup]="searchForm"  class="d-flex  justify-content-end align-items-center">
          <div class="form-outline m-4" >
            <input type="search" formControlName="keyword" class="form-control text-bg-dark text-white" placeholder="Search Exercise" aria-label="Search" />
          </div>
          <button class="btn btn-light text-black" (click)="searchExercises()">Search</button>
        </div>


        <div class="candidate-list">

          <ul class="nav nav-pills">
            <li class="nav-item">
              <button  class="btn btn-outline-light border-0 clicked m-1 " [class.active]="clickedButton == 'All'" (click)="getExercises()"   aria-current="page">All</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light border-0 m-1" [class.active]="clickedButton == 'Legs'" (click)="handleLegsExercises()" aria-current="page">Legs</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light border-0 m-1" [class.active]="clickedButton == 'Chest'" (click)="handleChestExercises()" aria-current="page">Chest</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light border-0 m-1" [class.active]="clickedButton == 'Back'" (click)="handleBackExercises()" aria-current="page">Back</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light border-0 m-1" [class.active]="clickedButton == 'Arms'" (click)="handleArmsExercises()" aria-current="page">Arms</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light border-0 m-1" [class.active]="clickedButton == 'Shoulders'" (click)="handleShouldersExercises()" aria-current="page">Shoulders</button>
            </li>
          </ul>

          @for ( exo of exercises ; track exercises ){
          <div class="candidate-list-box card mt-4">
            <div class="p-4 card-body">
              <div class="align-items-center row">
                <div class="col-auto">
                  <div class="candidate-list-images">
                    <a ><img  [src]="returnImage(exo.exercise_image)"   class="avatar-md rounded-circle"/></a>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="candidate-list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-0">
                      <a class="primary-link text-white" >{{exo.exercise_name}}</a><span class="badge bg-secondary ms-1"><i class="mdi mdi-star align-middle"></i>{{exo.rating}}</span>
                    </h5>
                    <p class="text-muted mb-2 text-white-50">{{exo.muscle_group}}</p>
                    <ul class="list-inline mb-0 text-muted">
                      <li class="list-inline-item text-white-50"><i class="mdi mdi-weight-lifter"></i> {{exo.equipment}}</li>
                      <li class="list-inline-item text-white-50"><i class="mdi mdi-alert-octagon"></i> {{exo.description}}</li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                    <span class="badge bg-soft-secondary fs-14 mt-1">Exercises</span>
                    <span class="badge bg-soft-secondary fs-14 mt-1 text-white-50">{{exo.muscle_group}}</span>
                  </div>
                </div>
              </div>



            </div>
          </div>
            }



        </div>
      </div>
    </div>
  </div>
</section>
</body>
